body{
    align-items: center;
    image-orientation: flip;
    opacity: 85%;



}

h1{
   
    color: black;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    font-size: 50;
    
}
